@use "../abstracts/variables";
@use "../abstracts/mixins" as *;

.heading-primary {
  font-size: 4rem;
  font-weight: 100;
  font-family: 'Dancing Script', cursive;
}

.heading-secondary {}

.heading-tertiary {}

.paragraph {
  font-size: 1.6rem;
  font-weight: 500;
}