@use "../abstracts/variables";
@use "../abstracts/mixins" as *;

.heading-primary {
  font-size: 5rem;
  font-weight: 100;
  font-family: 'Dancing Script', cursive;
  color: var(--color11);
}

.heading-secondary {
  text-transform: uppercase;
  color: var(--color11);
  font-size: 3.5rem;
}

.heading-tertiary {
  font-weight: 300;
  font-size: 3rem;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 500;
}