@charset "UTF-8";
/*
    0 - 600px = mobile
    600px - 900px = portrait tablet
    900px - 1200px = landscape tablet
    [1200px - 1800px] = desktop (normal style : desktop first)
    1800px - § = large desktop

    This mixins are used to create media queries for responsive design.

    1em = 16px
    We use em because it is relative to the parent element
    Wich is the font-size used in the browser settings (usually 16px)
*/
:root {
  --color1: hsl(30, 40.0%, 99.1%);
  --color2: hsl(30, 50.0%, 97.6%);
  --color3: hsl(30, 52.5%, 94.6%);
  --color4: hsl(30, 53.0%, 91.2%);
  --color5: hsl(29, 52.9%, 86.8%);
  --color6: hsl(29, 52.5%, 80.9%);
  --color7: hsl(29, 51.5%, 72.8%);
  --color8: hsl(28, 50.0%, 63.1%);
  --color9: hsl(28, 34.0%, 51.0%);
  --color10: hsl(27, 31.8%, 47.6%);
  --color11: hsl(25, 30.0%, 41.0%);
  --color12: hsl(20, 30.0%, 19.0%);
  --white: white;
  --shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 56.25em) and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 49%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color12);
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--color8);
  color: white;
}

::selection {
  background-color: var(--color8);
  color: white;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes bounce {
  20% {
    transform: translateY(-2rem);
  }
  40% {
    transform: translateY(0.5rem);
  }
  60% {
    transform: translateY(-2rem);
  }
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes bounce {
  20% {
    transform: translateY(-2rem);
  }
  40% {
    transform: translateY(0.5rem);
  }
  60% {
    transform: translateY(-2rem);
  }
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes scaleIn {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.heading-primary {
  font-size: 4rem;
  font-weight: 100;
  font-family: "Dancing Script", cursive;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 500;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 37.5em) {
  .u-margin-bottom-big {
    margin-bottom: 4rem !important;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 4rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 37.5em) {
  .u-margin-bottom-medium {
    margin-bottom: 2rem !important;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 2rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}
@media only screen and (max-width: 37.5em) {
  .u-margin-bottom-small {
    margin-bottom: 1rem !important;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .u-margin-bottom-small {
    margin-bottom: 1rem !important;
  }
}

.u-margin-top-big {
  margin-top: 10rem !important;
}
@media only screen and (max-width: 37.5em) {
  .u-margin-top-big {
    margin-top: 5rem !important;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .u-margin-top-big {
    margin-top: 5rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}
@media only screen and (max-width: 37.5em) {
  .u-margin-top-small {
    margin-top: 1rem !important;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .u-margin-top-small {
    margin-top: 1rem !important;
  }
}

.section-slider {
  height: auto;
  margin-top: 6rem;
}

.section-accommodations {
  text-align: center;
  width: min(100%, 80rem);
  margin: 3rem auto;
}
.section-accommodations__picture-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.separator {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.slideshow {
  position: relative;
  height: 50rem;
}
.slideshow__image {
  -webkit-animation: scaleIn 1s ease-out;
          animation: scaleIn 1s ease-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.slideshow__title {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  position: absolute;
  padding: 2rem;
  right: 7rem;
  bottom: 8rem;
  width: auto;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .slideshow__title {
    right: 0rem;
    bottom: 0rem;
    width: 100%;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .slideshow__title {
    right: 0rem;
    bottom: 0rem;
    width: 100%;
  }
}
.slideshow__title-main {
  font-size: 3rem;
  font-weight: 500;
}
@media only screen and (max-width: 37.5em) {
  .slideshow__title-main {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .slideshow__title-main {
    font-size: 2.5rem;
  }
}
.slideshow__title-sub {
  font-size: 2rem;
  font-weight: 100;
}
@media only screen and (max-width: 37.5em) {
  .slideshow__title-sub {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .slideshow__title-sub {
    font-size: 1.5rem;
  }
}

.gallery {
  background-color: var(--color2);
  grid-area: gallery;
  display: grid;
  grid-template: repeat(7, 5vw)/repeat(8, 1fr);
  gap: 1.5rem;
  padding: 1.5rem;
  grid-template-areas: "p1  p1  p2  p2  p2  p3  p4  p4" "p1  p1  p2  p2  p2  p3  p4  p4" "p5  p5  p2  p2  p2  p8  p8  p9" "p5  p5  p6  p6  p7  p8  p8  p9" "p5  p5  p6  p6  p13 p13 p13 p9" "p10 p11 p11 p12 p13 p13 p13 p14" "p10 p11 p11 p12 p13 p13 p13 p14";
}
.gallery__item--1 {
  grid-area: p1;
}
.gallery__item--2 {
  grid-area: p2;
}
.gallery__item--3 {
  grid-area: p3;
}
.gallery__item--4 {
  grid-area: p4;
}
.gallery__item--5 {
  grid-area: p5;
}
.gallery__item--6 {
  grid-area: p6;
}
.gallery__item--7 {
  grid-area: p7;
}
.gallery__item--8 {
  grid-area: p8;
}
.gallery__item--9 {
  grid-area: p9;
}
.gallery__item--10 {
  grid-area: p10;
}
.gallery__item--11 {
  grid-area: p11;
}
.gallery__item--12 {
  grid-area: p12;
}
.gallery__item--13 {
  grid-area: p13;
}
.gallery__item--14 {
  grid-area: p14;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header {
  position: fixed;
  background-color: var(--color1);
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  box-shadow: var(--shadow);
  z-index: 10;
}
.header__logo {
  margin: 5px 0;
}
.header__logo-img {
  width: 15rem;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.header__link {
  font-size: 1.5rem;
  color: var(--color12);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
  display: block;
}
.header__link:hover .header__link__graphic--slide {
  transform: translate3d(-66.6%, 0, 0);
}
.header__link__graphic {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  width: 30rem;
}
.header__link__graphic--slide {
  top: -3px;
  stroke-width: 2px;
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}/*# sourceMappingURL=main.css.map */