@use "../abstracts/mixins" as *;

.accommodation {
    display: flex;
    gap: 15rem;
    margin-bottom: 15rem;

    @include respond(phone, tab-port) {
        flex-direction: column;
        gap: 5rem;
        margin-bottom: 8rem;
    }

    &--1 {

        & h3,
        p {
            text-align: right;

            @include respond(phone, tab-port) {
                text-align: left;
            }
        }
    }

    &--2 {
        flex-direction: row-reverse;

        @include respond(phone, tab-port) {
            flex-direction: column;
            gap: 5rem;
        }
    }

    &__images {
        flex: 0 0 50%;
        position: relative;
        align-self: center;

        & img {
            outline: 1px solid var(--color6);
            outline-offset: 0.8rem;
        }

        &--1 {
            width: 100%;
            object-fit: cover;

        }

        &--2 {
            position: absolute;
            width: 35%;
            height: 60%;
            top: 52%;
            object-fit: cover;

            @include respond(phone, tab-port) {
                display: none;
            }

            &--right {
                left: 85%;
            }

            &--left {
                right: 75%;
            }

        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        position: relative;

        &__image {
            position: absolute;
            top: -3.5rem;
            right: 0rem;
            width: 20rem;

            @include respond(phone, tab-port) {
                display: none;
            }
        }

        &__heading {

            &--mesanges {
                color: #382FA6;
                position: relative;

                &::after {
                    // parameters are: image path, width, height, bottom
                    @include after-image('/assets/mesange_oiseau_d.png', 15rem, 15rem, -5rem);
                }
            }

            &--pinsons {
                position: relative;

                &::after {
                    // parameters are: image path, width, height, bottom
                    @include after-image('/assets/pinson_oiseau.webp', 15rem, 10rem, -1rem);
                }
            }
        }

        & h2 {
            display: inline-block;
            border-bottom: 1px solid currentColor;
            position: relative;
        }

        & h3 {}

        & p {
            font-size: 1.8rem;

            @include respond(phone, tab-port) {
                font-size: 1.5rem;
            }
        }

        & a {
            align-self: center;
            font-size: 2rem;

            @include respond(phone, tab-port) {
                font-size: 1.5rem;
            }
        }

    }
}