@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-slider {
  height: auto;
  margin-top: 6rem;
}

.section-accommodations {
  width: 80%; //min(100%, 90rem);
  margin: 3rem auto;

  & h1{
    text-align: center;
  }
}

.separator {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}