@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.section-slider {
  height: auto;
  margin-top: 6rem;
}

.section-accommodations {
  width: 80%; //min(100%, 90rem);
  margin: 3rem auto;

  & h2 {
    text-align: center;
  }
}

.section-area_presentation {
  background-image: url("/img/ext_2.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  padding: 20rem 0;
}

.image-separator {
  background-image: url("/img/ext_chats.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 70vh;
}

.section-services {
  padding: 8rem 0;
  text-align: center;
}

.separator {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}