@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
    padding-top: 20rem;
    height: auto;

    &__image {
        width: 100%;
        height: 18vw;
        transform: translateY(6px);
    }
}

.test {
    width: 30rem;
    filter: brightness(70%);
}