@use "../abstracts/variables";
@use "../abstracts/mixins" as *;

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.flexbox-test {
  margin: 20rem 0;
}

.flex-container {
  margin: 0 auto;
  max-width: 114rem;
  width: 80%;
  gap: 6rem;
  display: flex;

  @include respond(phone, tab-port) {
    flex-direction: column;
    max-width: 45rem;
  }
}
