@use "../abstracts/variables";
@use "../abstracts/mixins" as *;

.header {
  position: fixed;
  background-color: var(--color1);
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  box-shadow: var(--shadow);
  z-index: 10;

  &__logo {
    margin: 5px 0;

    &-img {
      width: 15rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  &__link {
    font-size: 1.5rem;
    color: var(--color12);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    padding-bottom: 1rem;
    display: block;

    &:hover &__graphic--slide {
      transform: translateX(-66.6%);
    }

    &__graphic {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      fill: none;
      stroke: #000;
      stroke-width: 1px;
      width: 30rem;

      &--slide {
        top: -3px;
        stroke-width: 2px;
        transition: transform 0.7s;
        transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
      }
    }

  }
}